@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');

body {
	background-color: #111;
	color: #fff;
	font: 14px Arial, sans-serif;
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
}

h1 {
	font-size: 1.5em;
}
h2 {
	font-size: 1.25em;
}
a {
	color: #fff;
	text-decoration: none;
}
a:visited {
	color: #ddd;
}
	
.profile-logo {
	display: block;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	object-fit: cover;
	border: 1px solid #CCC;
	margin: 25px auto -10px;
}
	
.name {
	font: normal 400 3.5em "Mr Dafoe", cursive;
	color: #FFF;
	text-align: center;
	line-height: 1; /* Prevent excessive height growth */
	max-height: 50px; /* Set a cap for how much it expands */
	margin-bottom: 10px;
}
	
.bio {
	font-size: 14px;
	text-align: center;
	opacity: 0.8;
	margin-bottom: 15px;
}
	
.button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-bottom: 15px;
}

button {
	flex: 1;
	color: #fff;
	background-color: #000;
	font-size: 18px;
	text-transform: none;
	border-radius: 25px;
	padding: 15px 40px;
	width: 300px;
	max-width: 90vw;
	cursor: pointer;
	white-space: nowrap;
	border: 1px solid white;
	outline: 1px solid white;
}
button:hover {
}

.icon-logo {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 1px solid white;
	object-fit: cover;
	vertical-align: middle;
	margin-right: 10px;
}

.fa-button {
	margin-right: 10px;
}
	
.footer {
	font-size: 12px;
	text-align: center;
	opacity: 0.8;
	margin-top: 10px;
}
	
.social-icons {
	display: flex;
	justify-content: center;
	gap: 16px;
}
.social-icon {
	font-size: 24px;
	color: lightgray; /* Default color */
}	
.social-icon:hover {
	transition: color 0.3s ease, transform 0.3s ease;
}
	/* Hover effects for specific platforms */
.social-icon.instagram:hover { color: #E1306C; } /* Instagram color */
.social-icon.twitter:hover { color: #1D9BF0; } /* Twitter color */
.social-icon.bluesky:hover { color: #1F74F7; } /* Bluesky color */
.social-icon.facebook:hover { color: #1877F2; } /* Facebook color */
.social-icon.cashapp:hover { color: #00B16A; } /* Cash App color */
.social-icon.reddit:hover { color: #FF4500; } /* Reddit color */
.social-icon.tiktok:hover { color: #000000; } /* TikTok color */
.social-icon.github:hover { color: #211F1F; } /* GitHub color */
.social-icon.spotify:hover { color: #1DB954; } /* Spotify color */
	
.social-icon.amazon { color: #FF9900; } /* Amazon color */
	
.fa-mug-saucer { color: #B05D0B; } /* brown mug */
.fa-cannabis { color: #34B00B; } /* green leaf */ 
.fa-heart { color: #D60606; } /* red heart */
	
.flag { /* Canadian Flag in CSS */
	display: inline-block;
	padding: 2px 3px;
	margin: 5px;
	color: #D10000; 
	background: white;
	border-left: 7px solid #D10000;
	border-right: 7px solid #D10000;
}

.signature {
	display: block;
	font-family: "Mr Dafoe", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 2.5rem;
	color: #FFF; 
	margin: 25px 25px 0 0;
	text-align: right;
}
