
        body {
		background-color: #111;
		color: #fff;
		font-family: Arial, sans-serif;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 99vh;
		margin: 0;
        }
        
        a {
		color: #fff;
        }
        a:visited {
		color: #ddd;
        }

	button {
		display: block;
		flex: 1;
		color: #fff;
		background-color: #000;
		font-size: 18px;
		border-radius: 25px;
		padding: 15px 40px;
		cursor: pointer;
		white-space: nowrap;
	}
	button:hover {
	}

        .profile-logo {
		width: 120px;
		height: 120px;
		border-radius: 50%;
		object-fit: cover;
		border: 2px solid #333;
		margin-bottom: 10px;
        }

        .name {
		font-size: 24px;
		font-weight: bold;
		text-transform: lowercase;
        }

        .bio {
		font-size: 14px;
		opacity: 0.8;
		margin-bottom: 15px;
        }

	.button-container {
		width: 90vw;
		display: flex;
		gap: 10px;
	}

        .footer {
		font-size: 12px;
		opacity: 0.8;
		margin-top: 10px;
        }

        .social-icons {
		display: flex;
		justify-content: center;
		gap: 18px;
        }
        .social-icon {
		font-size: 24px;
		color: lightgray; /* Default color */
        }

        .social-icon:hover {
		transition: color 0.3s ease, transform 0.3s ease;
        }

	/* Hover effects for specific platforms */
	.social-icon.instagram:hover { color: #E1306C; } /* Instagram color */
	.social-icon.twitter:hover { color: #1D9BF0; } /* Twitter color */
	.social-icon.bluesky:hover { color: #1F74F7; } /* Bluesky color */
	.social-icon.facebook:hover { color: #1877F2; } /* Facebook color */
	.social-icon.cashapp:hover { color: #00B16A; } /* Cash App color */
	.social-icon.reddit:hover { color: #FF4500; } /* Reddit color */
	.social-icon.tiktok:hover { color: #000000; } /* TikTok color */
	.social-icon.github:hover { color: #211F1F; } /* GitHub color */

	.social-icon.amazon { color: #FF9900; } /* Amazon color */

	.flag {
		display: inline;
		justify-content: center;
		align-items: center;
		background: white;
		border-left: 10px solid #D10000; /* Red left border */
		border-right: 10px solid #D10000; /* Red right border */
	.mapleleaf {
		color: #D10000; 
	}
